.button {
  padding: 0.6rem 1rem;
  border-radius: 8px;
  border: none;
  background-color: #007bff;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.button[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}
